{% extends 'base.html.twig' %}

{% block title %}Home {% endblock %}

{% block body %}
    <h4>Home Info</h4>
    <h5>{{ message }}</h5>
    <h3>{{ pointer }}</h3>

        {% for l in links %}
            <a href="{{ l.link }}">
                <div id="{{ l.name | lower }}" class="proj_panel">
                    <h3>{{ l.name }}</h3>
                    <p>{{ l.text }}</p>
                </div>
            </a>
        {% endfor %}

{% endblock %}

{% block footer %}
    <footer class="footer">
        <p class="footer-text">Made by {{ myname }}</p>
    </footer>
{% endblock %}