{% extends 'base.html.twig' %}

{% block title %}Home {% endblock %}

{% block body %}
    {#<h4>Home Info</h4>#}
    {#The website is under constant <span class="tooltip">Kaizen<span class="tooltiptext">Tooltip text</span></span>#}
    <h3>{{ pointer }}</h3>

        {% for l in links %}
            <a class="project" id="{{ l.name | lower }}" href="{{ l.link }}">
                <div class="project_content" >
                    <h3>{{ l.name }}</h3>
                    <p>{{ l.text }}</p>
                </div>
            </a>
        {% endfor %}

{% endblock %}

{% block footer %}
    <footer class="footer">
        <p class="footer-text">Made by {{ myname }}</p>
    </footer>
{% endblock %}